/*Navigation bar*/

nav {
  margin-top: 20px;
  height: 1.3em;
  width: 100vw;
}

#nav li {
  display: inline;
}

/*Home page*/

#header {
  margin-top: 1.3em;
}

.centerpic {
  display: block;
  margin: auto;
  height: 25%;
  width: 25%;
  border-radius: 25px;
}

.myname {
  color: #5f9ea0;
  text-align: center;
}

.facts {
  margin: 50px auto 50px 250px;
  list-style-type: square;
  line-height: 2em;
}

/* unvisited link */
a:link {
    color: #5f9ea0;
}

/* visited link */
a:visited {
    color: #5f9ea0;
}

/* mouse over link */
a:hover {
    color: #5e81ad;
}

/* selected link */
a:active {
    color: #5e81ad;
}

/*Blog page*/

p {
  width: 45%;
  margin: auto;
}

.blue {
  color: #5e81ad;
}

form {
  line-height: 200%;
}

header {
  background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/XGXORJWZIX.jpg");
  background-size: 600px 200px;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  margin: 0px 350px 0px 350px;
}

/*Media page*/

#greeting {
  position: relative;
  background-color: #5f9ea0;
  clear: both;
  margin-left: 25em;
  margin-right: 25em;
}

#greeting p {
  color: White;
  font-family: Verdana;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.coffee {
  text-align: center;
  margin: 5em;
}

.highlighted {
  text-decoration: underline;
  font-style: italic;
  color:red;
}

#hidden-blurb {
  display: none;
  text-align: center;
  color:#d37268;
  font-style: italic;
}

.post-headline {
  color: #7900ac;
  font-family: 'Poppins', sans-serif;
}

.post-content {
  font-family: 'Josefin Sans', sans-serif;
  color: #6b0cea
}

#blog-welcome {
  font-size: 24px;
  font-family: 'Acme', sans-serif;
  color: #d37268;
  margin-top: 2em;
}

#blogging {
  color: #d37268;
  font-family: 'Permanent Marker', cursive;
  background-color: #f0f6f6;
  border-radius: 20px;
}

#latest {
  color: #9dafb0;
  background-color: #f0f6f6;
  border-radius: 20px;
}

.grey {
  background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Projects page*/

.projects-body {
  background-color: #d3ecec;
}

.project-headline {
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
  color: #416c6d;
}

.project-links {
text-align: center;
padding-left: 35%;
padding-right: 40%;
}

.project-pic {
  display: block;
  margin: auto;
}

/*Contact page*/

.contact-body {
  margin-top: 8em;
  text-align: center;
}

.emphasize {
  display: inline;
  font-size: 1.5em;
  font-style: italic;
  color: #d37268;
}

.container {
  font-family: 'Vidaloka', serif;
  max-width: 960px;
    margin: 0 auto;
}

.smiley {
  height: 10%;
  width: 10%;
}

/*Sandbox page*/

.sandbox-area {
  margin-top: 8em;
}
