nav {
  position: absolute;
  margin-top: 20px;
  height: 1.3em;
  width: 100vw;
}

#nav li {
  display: inline;
}

#header {
  margin-top: 1.3em;
}

.centerpic {
  display: block;
  margin: auto;
  height: 25%;
  width: 25%;
  border-radius: 25px;
  border-style: solid;
  border-color: LightSeaGreen;
}

.myname {
  color: #5f9ea0;
  text-align: center;
}

.facts {
  width: 25%;
  margin: 50px auto 50px auto;
  list-style-type: square;
}

/* unvisited link */
a:link {
    color: #5f9ea0;
}

/* visited link */
a:visited {
    color: #5f9ea0;
}

/* mouse over link */
a:hover {
    color: #5e81ad;
}

/* selected link */
a:active {
    color: #5e81ad;
}

p {
  width: 45%;
  margin: auto;
}

.blue {
  color: #5e81ad;
}

.container {
  max-width: 960px;
    margin: 0 auto;
}

form {
  line-height: 200%;
}

header {
  background-image: url("../blog/img/pexels-photo-262508.jpeg");
  background-size: 1200px 200px;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  margin: 0px 250px 0px 250px;
}

#greeting {
  position: relative;
  background-color: #687a99;
  border-style: groove;
  border-color: black;
  border-width: medium;
  clear: both;
}

#greeting p {
  color: #393c42;
  font-family: Verdana;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
