nav {
  background-color: DarkTurquoise;
}

img {
  border-radius: 25px;
  border-style: solid;
  border-color: LightSeaGreen;
}

h1 {
  color: CadetBlue;
}

p {
  width: 45%;
  margin: auto;
}

#purple {
  color: Magenta;
}

.container {
  max-width: 960px;
    margin: 0 auto;
}

header {
  background-image: url("https://lh3.googleusercontent.com/XPiWHQiuc1KgLWA_WddnamzKbHFr7OXmvRN45WwV9TyQfKvwzcCVCTG3V3-tXBOAa_RlS63LHMltDSk8ZpOZmScWQP4KCgE-KilUB3gkaIVkeqEhtcRM4iArfX5vf6Rm0PwEail8xmtAqTpDKkJe0QNpAkj0O0CZBc0K4fWukcipia-y5Go5MGCtEjkP-nto-knJGa-wR5cB17iVV1xMikF87UeCaD8Qtlk-ADCqKDrb3jHE9F_M-TlJY4L5AW2xUjqONMoRjh4pg7JFQ3ptDJ1YUaIwwUkCArNwl0ZmWspYqRGmUkRhtB-klztbjo1KBbp5QZjCLyd733APmFvnTP6JrBQXHK9pyZjBzFSqhbYTNbvSrlhbi40Ui2TojidgRbNEFGuutbqgKdHXOmLZNgA_L6F-mCppLoXelE06mN4I6rKFhvm0CS6N2TGMqPhQcjBEcKbqwOweyyQKVHdomr8EllFYSsyQJbd3BzuADS0Q07eN_RYaf1qyjtksXsnwSDQF_CTIe_Xq32KEW3ZOv4CdVdHJbM5gF3nJtT06us9h2-_-CjoX_iXVz5Ivno-KtV1Z2S1d637ZvWt6WApamXMOlle1EX8Lus4b2M18LaAfYmc_v7xDAQ=w2050-h1538-no");
  margin: auto;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
}
